@model List<SevColApp.Models.UserWithExtraData>

@{
    ViewData["Title"] = "Gamemaster's all users page";
}

<html>
<body class="gmpage">
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th scope="col">User id</th>
                <th scope="col">Login name</th>
                <th scope="col">Full name</th>
                <th scope="col">Total wealth</th>
                <th scope="col">Total stocks</th>
                <th scope="col">Allowance status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.User.Id</th>
                    <td>@user.User.LoginName</td>
                    <td>@user.User.FullName</td>
                    <td>@user.TotalWealth.ToString("N0")</td>
                    <td>@user.TotalNumberOfStocks.ToString("N0")</td>
                    <td class="text-success">@user.User.AllowanceStatus</td>
                    <td>
                        <a asp-area="" asp-controller="Gamemaster" asp-action="PayUser" asp-route-userLoginName=@user.User.LoginName class="btn btn-info">Pay allowance</a>
                        <a asp-area="" asp-controller="Gamemaster" asp-action="UsersBankAccounts" asp-route-userLoginName=@user.User.LoginName class="btn btn-info">Bank accounts</a>
                        <a asp-area="" asp-controller="Gamemaster" asp-action="ViewStocksForThisUser" asp-route-userLoginName=@user.User.LoginName class="btn btn-info">Stocks</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-area="" asp-controller="Gamemaster" asp-action="AllowanceReset" class="btn btn-info">Reset allowance statusses</a>
    <a asp-area="" asp-controller="Gamemaster" asp-action="Index" class="btn btn-outline-dark">Back to game master page</a>

</body>
</html>
