@model SevColApp.Models.BankAccountDetails

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="bankingpage">

    <table class="table table-borderless w-auto">

        <tbody>
            <tr>
                <th scope="row" class="bankingtext">Account name</th>
                <td class="bankingtext">@Model.AccountName</td>
            </tr>
            <tr>
                <th scope="row" class="bankingtext">Account number</th>
                <td class="bankingtext">@Model.AccountNumber</td>
            </tr>
            <tr>
                <th scope="row" class="bankingtext">Credits</th>
                <td class="bankingtext">@Model.Credit.ToString("N0")</td>
            </tr>
        </tbody>

    </table>

    @if (Model.Transfers.Count > 0)
    {
        <table class="table table-responsive table-borderless">

            <thead>
                <tr>
                    <th class="bankingtext">Other account</th>
                    <th class="bankingtext">Amount transferred</th>
                    <th class="bankingtext">Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var transfer in Model.Transfers)
                {
                    <tr>
                        @if (transfer.Amount >= 0)
                        {
                            <th class="bankingtext">@transfer.PayingAccountNumber</th>
                            <th class="text-success">@transfer.Amount.ToString("N0")</th>
                            <th class="bankingtext">@transfer.Description</th>
                        }
                        @if (transfer.Amount < 0)
                        {
                            <th class="bankingtext">@transfer.ReceivingAccountNumber</th>
                            <th class="text-danger">@transfer.Amount.ToString("N0")</th>
                            <th class="bankingtext">@transfer.Description</th>
                        }
                    </tr>
                }

            </tbody>
        </table>
    }

    <a asp-area="" asp-controller="Bank" asp-action="Transfer" asp-route-accountId="@Model.Id" class="btn btn-light">Make a transfer</a>

</body>
</html>